.container {
  display: flex;
  cursor: pointer;
}

.checkbox {
  display: none;
}

.checkboxItem {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid #DFE3E6;
  box-sizing: border-box;
  background-color: transparent;
}

.active {
  background: var(--gradient-red);
  background-image: url('../../../shared/icons/checkboxIcon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 11px;
  border-color: transparent;
}

.disabled {
  background-color: #BEC5CC;
  background-image: url('../../../shared/icons/checkboxIcon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 11px;
  border-color: transparent;
}