.button {
  @mixin text;
  cursor: pointer;
  width: 100%;
  border: none;
  background: var(--gradient-red);
  box-shadow: 0px 0px 24px rgba(234, 0, 41, 0.33);
  border-radius: 6px;
  transition: all .2s;

  &:hover {
    background: var(--red);
  }
}

.buttonBig {
  @mixin textLarge;
  min-width: 280px;
  min-height: 56px;
}

.buttonSmall {
  @mixin buttonSmall;
}

.buttonDisabled {
  background: none;
  background-color: #BEC5CC;
  box-shadow: none;

  &:hover {
    background-color: #BEC5CC;
    color: var(--white);
  }
}

.buttonMain {
  @mixin text;
  cursor: pointer;
  width: 100%;
  border: 1px solid var(--white);
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 6px;
  transition: all .2s;

  &:hover {
    background-color: var(--white);
    color: var(--black);
  }
}

.buttonMainBig {
  @mixin textLarge;
  min-height: 56px;
  max-width: 200px;
}

.buttonMainSmall {
  @mixin buttonMainSmall;
}

.buttonMainDisabled {
  background-color: #BEC5CC;

  &:hover {
    background-color: #BEC5CC;
    color: var(--white);
  }
}

.buttonText {
  @mixin text;
  @mixin textLarge;
  display: block;
  cursor: pointer;
  padding: 0px;
  border: none;
  background-color: transparent;
  color: var(--red);
  transition: all .2s;

  &:hover {
    color: var(--orange);
  }
}

@media screen and (max-width: 321px) {
  .buttonBig {
    @mixin buttonSmall;
  }

  .buttonMainBig {
    @mixin buttonMainSmall;
  }
}
