.containerTags {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.text {
  @mixin text;
  @mixin textLarge;
  color: var(--black);
  margin-right: 32px;
}

@media screen and (max-width: 599px) {
  .containerTags {
    flex-direction: column;
    align-items: start;
  }

  .text {
    margin-bottom: 24px;
  }
}
