:root {
  --white: #FFFFFF;
  --black: #000000;
  --gradient-red: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;
  --red: #EA0029;
  --orange: rgba(245, 58, 49, 1);
  --gray: #BEC5CC;
  --input-red: #EA0029;
}
