.popup {
  background-color: rgba(0, 0, 0, 0.3);
  min-height: calc(100vh - 240px);
  padding: 120px 0;
}

.popupActive {
  display: block;
}

.popupContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  min-height: 476px;
  padding: 32px;
  background-color: var(--white);
  border-radius: 30px;
  max-width: 552px;
  box-sizing: border-box;
}

.close {
  @mixin bg;
  position: absolute;
  top: 16px;
  right: 12px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-image: url('../../../shared/icons/cross.svg');
  background-color: transparent;
}

.title {
  @mixin headline;
  @mixin headline1;
  margin-bottom: 16px;
}

.desc {
  @mixin text;
  @mixin textLarge;
  color: var(--black);
  margin-bottom: 24px;
}

.containerButton {
  margin-top: auto;
  display: flex;
}

@media screen and (max-width: 769px) {
  .popupContainer {
    max-width: 450px;
  }
}

@media screen and (max-width: 321px) {
  .popup {
    background-color: rgba(0, 0, 0, 0.3);
    min-height: calc(100vh - 120px);
    padding: 0;
    padding-bottom: 120px;
  }

  .popupContainer {
    padding: 32px 16px 16px;
    min-height: 568px;
    border-radius: 0px;
  }

  .title {
    @mixin headline2;
  }

  .desc {
    @mixin textMedium;
  }
}